@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    color: white;
    background: #240046 url("images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

header {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    /* filter: grayscale(100%); */
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   color: #ff9100;
}

h3 {
    font-size: 1.5rem;
    font-style: oblique;
    margin: 0;
}

h4 {

}

#header-text {
    /* flex-basis: 80%;
    display: flex; */
}

#header-gif{
    width: 100vw;
    height: 500px;
}

nav {
    /* flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; */
    background-color: #5D21D0;
    color: #fff;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    font: 120% system-ui;
    text-align: center;
    padding: 0px 0px;
}
    nav:hover {
    font-weight: 900;
    }

a {
    margin: 4px;
    text-decoration: none;
}

a, p {
    font-family: monospace;
    color: #fff;
}

#user_name{
    text-align: center;
}


#hi {
    padding: 10px;
}